.cache
.sql
.vsidx
vendor
docker-compose.override.yml
.env
/.docker
*.log
*.log.*
.idea/
.vscode/
*.swp
*.swo
/node_modules/
/public/storage
/storage/*.key
.env.testing
/vendor/composer/autoload_classmap.php
/vendor/composer/autoload_real.php
/var/
/app/cache/
/app/logs/
Thumbs.db
desktop.ini
.vs/
*.user
*.suo
[Bb]in/
[Oo]bj/
*.nupkg
packages/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResults
*.VisualState.xml
TestResult.xml
*.dll
*.exe
*.app
*.manifest
*.pdb
*.ipa
*.iapp*
.DS_Store
*.plist
*.apk
*.ap_
node_modules/
appsettings*.json
*.psess
*.vspx
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.vscode/
.idea/
*.resx
*.resources
Generated/
